This notebook will be used mainly for a Capstone Project.

In [1]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

Business Understanding: Roughly 38,000 Americans are killed in car crashes every year and many of these crashes could have been prevented. The issue that we are seeking to understand is why car accidents happen. If through the data set we can see what attributes the crashes have in common and what could be contributing to the problem, then changes can be made to reduce the severity and number of accidents. This will save time, resources and more importantly, lives.

In [12]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_12b0a7c92d094087838a78f9cec5de17 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='vE8bea9ro-JZK1g0d83_o96dhlhdw6RQ46Ba3UMImwxp',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_12b0a7c92d094087838a78f9cec5de17.get_object(Bucket='coursera-donotdelete-pr-7c68acu4t8fx2o',Key='Data-Collisions.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [17]:
df['LIGHTCOND'] .value_counts().to_frame()

                          LIGHTCOND
Daylight                     116137
Dark - Street Lights On       48507
Unknown                       13473
Dusk                           5902
Dawn                           2502
Dark - No Street Lights        1537
Dark - Street Lights Off       1199
Other                           235
Dark - Unknown Lighting          11

In [18]:
df['ROADCOND'] .value_counts().to_frame()

                ROADCOND
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64

In [19]:
df['WEATHER'] .value_counts().to_frame()

                          WEATHER
Clear                      111135
Raining                     33145
Overcast                    27714
Unknown                     15091
Snowing                       907
Other                         832
Fog/Smog/Smoke                569
Sleet/Hail/Freezing Rain      113
Blowing Sand/Dirt              56
Severe Crosswind               25
Partly Cloudy                   5

In [25]:
cdf= df[['WEATHER','SEVERITYCODE']]
cdf.head(5)

    WEATHER  SEVERITYCODE
0  Overcast             2
1   Raining             1
2  Overcast             1
3     Clear             1
4   Raining             2

Data: When looking through the data I became more interested in whether or not weather has an effect on the severity of the accidents. While most accidents happened when it was clear, enough were under different weather conditions, such as raining or overcast, that I thought this could be significant and something I would like to explore. To get a closer look at the data I wanted to work with I decided to make a separate data frame just looking at weather and the severity code of the accident.